[Unit]
Description=Applies keyrepeat settings

[Service]
ExecStart=bash -c '{ printf "\n"; inotifywait -qm -e create -e delete /dev/input; } | while IFS= read -r line; do timeout 1 cat; %h/dotfiles/bin/keyrepeat; sleep 4; %h/dotfiles/bin/keyrepeat; done'
