[Unit]
Description=Mounts MooseFS

[Service]
ExecStart=bash -c '\
[ -f /etc/systemd/system/moosefs.service ] && \
while ! systemctl is-active moosefs.service; do sleep 1m; done &>/dev/null || \
{ \
while ! systemctl is-active tailscaled.service; do sleep 1m; done &>/dev/null; \
while ! ping -c 1 -W 5 100.98.49.115; do sleep 1m; done &>/dev/null; \
}; \
mfsmount /media/herd -H 100.98.49.115\
'
ExecStop=fusermount -u /media/herd
Type=oneshot
TimeoutStartSec=0
RemainAfterExit=yes
