[Unit]
Description=Applies keyrepeat settings

[Service]
ExecStart=/bin/bash -c 'while %h/dotfiles/bin/keyrepeat; inotifywait -q -e create -e delete /dev/input; do sleep 1; done'

[Install]
WantedBy=default.target
