[Unit]
Description=Starts Music on Console Player

[Service]
ExecStart=%h/dotfiles/bin/mocp-only "%h/Music/Default"
ExecStop=mocp --exit
Type=oneshot
RemainAfterExit=yes
