[Unit]
Description=Starts Music on Console Player

[Service]
ExecStart=/bin/bash -c "mocp --server &>/dev/null; mocp --on shuffle --append $HOME/Music/Default"
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target
