[Unit]
Description=Starts Music on Console Player

[Service]
ExecStart=/bin/bash -c "mocp --server &>/dev/null; %h/dotfiles/bin/mocp-only %h/Music/Default"
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
