[Unit]
Description=Gives osu's typing sound effects system-wide

[Service]
WorkingDirectory=%h/Projects/osu-keysounds
ExecStart=%h/Projects/osu-keysounds/keysounds
