[Unit]
Description=Starts VNC server

[Service]
Environment="HOME=%h"
ExecStart=x11vnc -repeat -forever -display :0 -auth "%h/.Xauthority" -usepw
Restart=always
