[Unit]
Description=Connects to xpra display

[Service]
ExecStart=bash -c 'trap "xpra detach; exit" SIGTERM; while true; do xpra attach :10 --dpi=96 & wait $$!; sleep 5; done'
KillMode=process
